@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{

    margin: 0;
    font-family: poppins;
    overflow-x: hidden;
}
.navbar{
    
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 20px;
    padding-top: 7px;
}
.orange-bar{
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 40px;
    background-color: orange;
    z-index:-1;
}

.navbar ul{
    list-style: none;
    display:flex;
    padding: 0 ;
    margin: 0;
}
.navbar ul li{
    padding: 0 100px;
}
.signin{
    text-decoration: none;
    background-color:transparent;
    color: black;
    border:2px solid black;
    border-radius: 3px  ;
    padding: 5px 20px;

}

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding:60px 0;
    gap:120px
}
.introtext{
    flex:1;
    display: flex;
    flex-direction: column;
    
}
.introtext h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    max-width: 700px;
    white-space: normal;
    }
.introtext p{
    font-size: 18px;
    margin:0 0 30px;
    color:#828181;
    font-weight:300px;

}
.introButtons{
    display: flex;
    gap: 15px;
}
.SWT{
    width: 340px;
    height: 50px;
    background-color:transparent;
    color:black;
    border: 2px solid #1392f9;
    border-radius:5px ;
    font-size: 20px;
}

.TWT{
    width: 340px;
    height: 50px;
    background-color:#1392f9;
    color:white;
    border: 2px solid ;
    border-radius:5px ;
    padding: 10px 40px;
    font-size: 20px;

}
.introImg img{
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
}
.midsec{
    margin-top: 50 px;
}

.midtext{
    width: 100%;
    margin: 80px 0;
    padding: 20px 250px;
    border-top: 2px solid orange ;
    border-bottom: 2px solid orange;
    background-color: #d1e5f6;
}
.midtext ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0 ;
    margin: 0;
}
.midtext ul li{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    font-size: 20px;
}
.WITsec{
    width:80%;
    margin:80px auto 0 auto;
    text-align: center;
}
.WITsec h2{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
.WITsec p{
    font-size: 20px;
    max-width: 1000px;
    line-height: 1.6;
    margin-left: 100px ;
}


.HTWsec {
    width: 100%;
    margin: 80px 0;
    padding: 40px 0;
    background-color: #d1e5f6;
    border-top: 3px  solid #1392f9;
    border-bottom: 3px solid #1392f9;
    text-align: center;
}

.HTWsec h2{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.sendortravel{
    display: flex;
    justify-content: center;
    gap:40px;
    margin-bottom: 10px;
    font-size: 20px;
}
/*
.SORbtn{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline:none;
    appearance: none;
    cursor: pointer;
}
*/
.SORbtn span{
    font-size:20px ;
    padding: 8px 20px;
    color: black;
}


.underline{
    width: 400px;
    height: 3px;
    background-color: #6cb9f8;
    margin: -5px auto 25px;
    border-radius: 2px;
}
.SORimg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    width: 80%;
    margin: 0 auto;

}
.SORimg img{ 
    width:320px;
    height: auto;
    border: 2px solid #1392f9;
    border-radius: 8px;
}
.rightsec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.rightsec ol{
    padding-left: 18px;
    margin: 0;
    text-align: left;
}
.rightsec li{
    margin-bottom: 18px;;
}
.steps{
    font-weight: 400;
    font-size: 20px;
}
.rightsec p{
    margin:5px -15px 0 0 ;
    color: black;
    font-size: 14px;
    line-height: 1.4;
}

.whytravix{
    text-align: center;
    margin: 80px auto;
    width:90%;
}
.whytravix h2{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px 60px;
    justify-items: center;
}
.reasons{
    width: 280px;
}
.icon{
    width: 150px;
    height: 150px;
    border: 4px solid goldenrod;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto 15px;

}
.icon img{
    width: 100px;
    height: 100px;
}
.reasons h3{
    font-size: 18px;
    margin-bottom: -4px;
    font-weight: 500;
}
.reasons p{
    font-size: 14px;
    color:#828181;
    font-weight: 300;
    line-height: 1.2;
}