@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: lightgrey;
    font-family: poppins;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;

}
.signUp{
    width: 400px;
    height: 420px;
    background-color: white;
    border: 2px solid #1392f9;
    border-radius: 10px;
    text-align: center;
    margin:100px auto;
    padding-top: 50px;
}
.signUp h1{
    font-weight: 400;
    margin: 25px 0;

}
.userData{
    width: 350px;
    height: 25px;
    display: block;
    margin: 8px auto;
    padding: 6px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 300;
}
.loginbtn{
    width: 365px;
    height: 40px;
    display: block;
    margin: 15px auto;
    background-color: #1392f9;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid ;
    border-radius: 6px;
}
.already{
    margin: 10px auto;
    color: #d3d2d2;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #509ad7;
}
.policyTerms{
    width: 300px;
    font-size: 13px;
    margin: 20px auto;
    
}